body {
  margin: 0;
  font-family: Georgia, serif;
  color: #3C4848; }

a:link {
  color: #3366CC;
  text-decoration: none; }

a:active {
  color: #3366CC;
  text-decoration: none; }

a:visited {
  color: #3366CC;
  text-decoration: none; }

a:hover {
  color: #3366CC;
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  color: #3C4848; }

h3 {
  font-weight: normal;
  font-size: 16px; }

.linknode {
  background-color: white;
  color: #3C4848; }
  .linknode:hover {
    background-color: #cccccc; }
  .linknode #link_address {
    display: block;
    color: #dd467b;
    font-size: 11px; }

#container {
  width: 80%;
  background-color: #FFF;
  border-bottom: solid 1px darkgray;
  padding: 20px 0px 50px 40px;
  float: left; }
  #container #subcontainer-main {
    padding: 1%;
    float: left;
    width: 75%; }
  #container #subcontainer-right {
    padding: 0px 0 5px 0;
    float: right;
    margin: 0px;
    background-color: #f0f3f4;
    width: 200px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; }
    #container #subcontainer-right a {
      text-decoration: none; }
    #container #subcontainer-right h3 {
      margin: 0 0 0 10px;
      padding: 8px 0 8px 0; }
    #container #subcontainer-right #side_link {
      border-bottom: solid 1px #cccccc;
      width: 80%;
      padding: 5px 20px 5px 20px;
      font-size: 12px; }
      #container #subcontainer-right #side_link.show_current {
        background-color: #3C4848;
        color: white; }

#footer {
  float: right;
  margin-right: 25%;
  padding-top: 10px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px; }

#user_nav {
  overflow: hidden;
  display: block;
  background-color: black;
  color: white;
  padding: 10px;
  vertical-align: center;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 13px; }
  #user_nav a {
    color: black; }
  #user_nav #logo {
    overflow: hidden;
    float: left;
    padding-left: 2%;
    padding-right: 50px; }
    #user_nav #logo img {
      width: 110px; }
  #user_nav #login_info {
    float: right;
    padding-right: 30px; }
    #user_nav #login_info a {
      color: white; }
  #user_nav #tabs {
    float: left;
    padding-left: 30px;
    font-size: 93%; }
    #user_nav #tabs ul {
      margin: 0;
      padding: 0; }
      #user_nav #tabs ul li {
        display: inline;
        padding-right: 5px; }
        #user_nav #tabs ul li a {
          font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
          color: white;
          text-decoration: none; }

#linkinfo {
  padding-left: 180px; }
  #linkinfo #user {
    font-family: Georgia, serif;
    font-size: 12px;
    color: #3C4848; }
  #linkinfo #name {
    font-family: Georgia, serif;
    font-size: 18px;
    color: #3C4848;
    margin-right: 10px; }
  #linkinfo #address {
    font-size: 11px;
    color: #dd467b;
    display: block;
    padding: 0 0 0 0;
    margin-bottom: 3px; }
  #linkinfo #info {
    font-size: 11px;
    color: gray; }
  #linkinfo #action a {
    font-size: 13px;
    padding-right: 5px; }

#linkto a {
  text-decoration: none; }
#linkto table {
  font-size: 12px;
  border-collapse: collapse; }
  #linkto table th {
    text-align: left;
    color: #3C4848;
    padding-right: 30px; }
  #linkto table tr td {
    padding: 3px 30px 3px 3px; }
    #linkto table tr td#status {
      color: gray; }
    #linkto table tr td #linknode {
      font-size: 16px;
      padding: 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      -khtml-border-radius: 5px;
      border-radius: 5px; }

/*- Notice/Alert/Error --------------------------- */
#flash_notice, #flash_alert, #flash_error {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

#error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  #error_explanation p {
    color: #333;
    margin-bottom: 0;
    padding: 8px; }
  #error_explanation ul {
    margin: 2px 24px; }
    #error_explanation ul li {
      font-size: 14px;
      list-style: disc; }

#tab_add {
  font-size: 16px; }
  #tab_add a {
    text-decoration: none; }
  #tab_add #linknode {
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px; }
