$pinky: #DD467B; 
body {
  margin: 0;
  font-family: Georgia, serif;
  color: #3C4848;
  }

a:link {color: #3C4848; text-decoration:none;}
a:active {color: #3C4848; text-decoration:none;}
a:visited {color: #3C4848; text-decoration:none;}
a:hover {color: #3C4848; text-decoration: underline;}

@mixin rounded {
    $radius: 5px;

    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -khtml-border-radius: $radius;
    border-radius: $radius;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, serif;
  color: #3C4848;

}
h3 {
  font-weight: normal;
  font-size: 16px;
}

.linknode {
  background-color: white;   
  color: #3C4848;

  &:hover { background-color: #cccccc; }

  #link_address {
    display: block;
    color: $pinky;
    font-size: 11px;
  }

}

#container {
  width: 80%;
  background-color: #FFF;
  border-bottom: solid 1px darkgray;
  padding: 20px 0px 50px 40px;
  float: left;

  #subcontainer-main{
    padding: 1%;
    float: left;
    width: 70%;
  }
  
  #subcontainer-box{
    padding: 0px;
    float: right;
    margin: 0px;
  }
  	
  #subcontainer-right {
    padding: 0px 0 5px 0;
    float: right;
    margin: 0px;
    background-color: #f0f3f4;
    width: 200px;
    @include rounded;
    
    a { text-decoration: none; }
    h3 {
      margin: 0 0 0 10px;
      padding: 8px 0 8px 0;
    }
    #side_link {
      border-bottom: solid 1px #cccccc;
      width: 80%;
      padding: 5px 20px 5px 20px;
      font-size: 12px;
      
      &.show_current {
        background-color: #3C4848;
        color: white;
      }
    }
  }
}

#footer{
  float: right;
  margin-right: 25%;
  padding-top: 10px;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 13px;
}
#user_nav {
  overflow: hidden;
  display: block;
  background-color: black;
  color: white;
  padding: 10px;
  vertical-align: center;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: white;
  font-size: 13px;

  a { color: black }
  #logo {
    overflow: hidden;
    float: left;
    padding-left: 2%;
    padding-right: 50px;

    img { width: 110px;}
  }

  #login_info {
    float: right;
    padding-right: 30px;
    a { color: white }
  }

  #tabs {
    float: left;
    padding-left: 30px;
    font-size:93%;
    ul {
      margin: 0;
      padding: 0;
      li { 
        display: inline; 
        padding-right: 5px;
        a {
          font-family:     'Helvetica Neue', Arial, Helvetica, sans-serif;
          color:           white;
          text-decoration: none;
        }
        
      }
    }
  }

}


#linkinfo {
  padding-left: 180px;
  #user {
    font-family: Georgia, serif;
    font-size: 12px;
    color: #3C4848;
  }
  #name {
    font-family: Georgia, serif;
    font-size: 18px;
    color: #3C4848;
    margin-right: 10px;
  }
  #address {
    font-size: 11px;
    color: $pinky;
    display: block;
    padding: 0 0 0 0;
    margin-bottom: 3px;
  }
  #info {
    font-size: 11px;
    color: gray;
  }
  #action {
    a {
      font-size: 13px;
      padding-right: 5px;
    }
  }
}


#linkto {
  a { text-decoration: none }
  table {
    font-size: 12px;
    border-collapse: collapse;
    
    th {
      text-align: left;
      color: #3C4848;
      padding-right: 30px;
    }
    tr {
      td {
        padding: 3px 30px 3px 3px;
        &#status { color: gray; }
    
        #linknode {
          font-size: 16px;
          padding: 10px;
          @include rounded;
        }

      }
    }
  }
}

 
 
 
/*- Notice/Alert/Error --------------------------- */

#flash_notice, #flash_alert, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

#error_explanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 14px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }

  p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
  }

  ul {
    margin: 2px 24px;

    li {
      font-size: 14px;
      list-style: disc;
    }
  }
}

#tab_add {
  font-size: 16px;
  a { text-decoration: none; }

  #linknode {
    padding: 10px;
    @include rounded;
  }

}


/*- Style for Box ---------------------- */
.box {
  font-size:13px;
  width: 20em;
  margin: auto; }
.box div {
  margin: 0.5em 0 0 -2.5em; }
.box div.topleft {
  display: block;
  background: url("../images/box-bg.png") top left no-repeat white;
  padding: 2.0em 0em 0em 2.0em; }
.box div.topright {
  display: block;
  background: url("../images/box-bg.png") top right no-repeat white;
  padding: 2.0em;
  margin: -2.0em 0 0 2.0em; }
.box div.bottomleft {
  display: block;
  height: 45px;
  margin-top: -2.0em;
  background: url("../images/box-bg.png") bottom left no-repeat white;  }
.box div.bottomright {
  display: block;
  background: url("../images/box-bg.png") bottom right no-repeat white;
  height: 45px;
margin-left: 3.0em;  }



