<h2>Choose a brand to be friends with <%= @brand.name%>:</h2>
  <table cellpadding="5">
	<tr>
	  <th>Name</th>
	  <th>Address</th>
	  <th></th>
	</tr>
	<% @user_brands.each do |b| %>
	  <% if b != @brand %>
		<tr>
		  <td><%= b.name %> 
		  <td><%= b.address %></td> 
		  <td><%= link_to 'Add',  {:controller=> 'friendships', :action => 'create', :brand_id => b, :friend_id => @brand }%></td> 
	   </tr>
	 <% end %>
   <% end %>
 </table>