<div id="tab_add">

  <h2>I want to link <%= @brand.name%> to my ...</h2>

  <% @user_brands.each do |b| %>
    <% next if b == @brand %>

    <% link_to (
      :controller=> 'friendships', 
      :action => 'create', 
      :brand_id => b, 
      :friend_id => @brand ) do %>

      <div id="linknode" class="linknode">
        <%= b.name %>
        <span id="link_address"><%= b.address %></span>
      </div>

    <% end %>

  <% end %>

</div> <!-- tab_add -->
