

<h2>Brands</h2>

<% form_tag brands_path, :method => :get, :remote => true do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brands.each do |b| %>
  <tr>
  
    <td><%= link_to b.name, b %> 
    <td><%= b.address %></td> 
  </tr>
<% end %>
</table>
