

<h1>Brands</h1>

<strong>SEARCH BAR HERE</strong>
<br/><br/>
<table cellpadding="5">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brands.each do |b| %>
  <tr>
    <td><%= link_to b.name, b %> 
    <td><%= b.address %></td> 
  </tr>
<% end %>
</table>
</div>


